<div class="col-md-12">
          <h1 class="display-1"></h1>
</div>


<h1>Alumno:  </h1> 

<table class="table table-bordered">
  <tr>
      <th>Nombre</th>
      <th>Apellido paterno</th>
      <th>Apellido materno mat</th>
      <th>rut</th>
      <th> curso </th>  
  </tr>

      <tr>
        <td><%= @alumno.nombre %></td>
        <td><%= @alumno.ap_pat %></td>
        <td><%= @alumno.ap_mat %></td>
        <td><%= @alumno.rut %></td>
        <td><%= @alumno.curso %></td>
        <td><%= link_to 'Editar', edit_alumno_path(@alumno) %> </td>
      </tr>

</table>

<%= link_to 'Volver', alumnos_path %>
