
<!--<%= link_to "Primero", notas_por_alumno_path(:cur =>'1'), class: "btn button naranja" %> 
<%= link_to "Segundo", notas_por_alumno_path(:cur =>'2'), class: "btn button naranja" %>
 <%= link_to "Tercero", notas_por_alumno_path(:cur =>'3'), class: "btn button naranja" %>
 <%= link_to "Cuarto", notas_por_alumno_path(:cur =>'4'), class: "btn button naranja" %>
 <%= link_to "Quinto", notas_por_alumno_path(:cur =>'5'), class: "btn button naranja" %>-->
 <%= link_to "Sexto", notas_por_alumno_path(:cur =>'6'), class: "btn button naranja" %>
 <!--<%= link_to "Septimo", notas_por_alumno_path(:cur =>'7'), class: "btn button naranja" %>
 <%= link_to "Octavo", notas_por_alumno_path(:cur => '8'), class: "btn button naranja" %> -->
 <div class="btn button azul"><%= link_to "Informes", nos_informes_index_path %></div>              





