<!--<div class="col-md-12">
          <h1 class="display-1"></h1>
</div>

<h1>Alumnos</h1>

<table class="table table-bordered">
  <tr>
      <th>Nombre</th>
      <th>Apellido paterno</th>
      <th>Apellido materno mat</th>
      <th>rut</th>
      <th> curso </th>  
  </tr>
    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.nombre %></td>
        <td><%= alumno.ap_pat %></td>
        <td><%= alumno.ap_mat %></td>
        <td><%= alumno.rut %></td>
        <td><%= alumno.curso %></td>
      </tr>
    <% end %>
</table>-->
